<!DOCTYPE html>
<html>

<head>
    <title>Studocs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/icons/favicon.png">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="centered-form" style="color: white; font-size: 30px; padding: 20px;">
      <b><%= error %></b>  
    </div>
</body>

</html>