<!DOCTYPE html>
<html>

<head>
    <title>Studocs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/icons/favicon.png">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="centered-form">
        <div class="centered-form__box">
            <img src="/icons/user icon.PNG" style="height: 50px; width: 50px;">
            <img src="/icons/studocs.jpg" style="margin-left: 30px; height: 70px; width: 140px;">
            <form method="POST">
                <label>New Password:</label>
                <input type="password" name="password" placeholder="New Password" required>
                <label>OTP:</label>
                <input type="text" name="otp" placeholder="Enter 6 Digit OTP" required>
                <button>Continue</button>
            </form>
        </div>
    </div>
</body>

</html>