<!DOCTYPE html>
<html>

<head>
    <title>Studocs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/icons/favicon.png">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="centered-form">
        <div class="centered-form__box">
            <img src="/icons/user icon.PNG" style="height: 50px; width: 50px;">
            <img src="/icons/studocs.jpg" style="margin-left: 30px; height: 70px; width: 140px;">
            <h1>Join</h1>
            <form action="/home" method="POST">
                <label>User Email:</label>
                <input type="text" name="email" placeholder="Enter Email" required>
                <label>Password:</label>
                <input type="password" name="password" placeholder="Enter Password" required>
                <button>Login</button>
            </form>
            <div><br>
                Don't have an account.
                <a href="/signup"> Sign up</a> <br>
                <a href="/forgotPass">Forgot password?</a>
            </div>
        </div>
    </div>
</body>

</html>